*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;  
}
.sec1{
position: relative;
}

nav{
    width: 100%;
    position: relative;
}
.div1{
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 0;
}
.div2{
    margin-left: 20px;
    width: 500%;
    display: flex;
    font-size: 18px;
    
}
.div1 .div2 .img2{
    margin-right: 10px;
}
.sec1 .div2 a{
    color: gray;
    margin-top: 20px;
    width: 12%;
    display: flex;
    text-decoration: none;
}
.sec1 .div2 a:hover{
    color: rgb(166, 89, 159);
}
.div3{
    position: absolute;
    left: 220px;
    
position: relative;
}

.div3 a{
    color: gray;
position: absolute;
top: 8px;
left: 40px;
font-size: 20px;
}
.div4{
    position: relative;
}
.div4{
    color: gray;
    width: 50%;
   position: absolute;
   top: 230px;
   left: 50px;
   font-size: 40px;
}
.div4 span{
    color: rgb(149, 34, 149);
}

.div5{ 
    width: 50%;
   position: absolute;
   top: 60px;
   left: 70%;
   font-size: 30px;
   
}
.div5 .img1{
    z-index: -1;
    width: 600px;
    height: 550px;
    position: absolute;
    top: 30px;
    right: 150px;
}
.div5 .img2{
    position: absolute;
    top: 20px;
    right: 330px;
    width: 300px;
    height: 400px;
    
}
.div5 .img3{
    position: absolute;
    top: 350px;
    right: 300px;
    width: 400px;
    height: 150px;
}
.img5{
    position: absolute;
    top: 470px;
    right: 100px;
    height: 230px;
}
.divc{ color: gray;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 20px; 
    
}
.divc h1{ 
    margin-left: 20px;
}
.divc .h3c{
    margin-left: 100px;
}
.imgc{
    width: 1200px;
    position: absolute;
    top: 700px;
    left: 250px;
}
.div1c{
   position: absolute;
   top: 750px;
   left: 70px;
}
.div2c{
   
    position: absolute;
    top: 1050px;
    left: 600px;
}
.div3c{
   position: absolute;
   top: 1300px;
   left: 1100px;
}
.div4c{ 
    position: absolute;
    top: 1300px;
    left: 100PX;
 }
 .div4c h1{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 130px;
    left: 150px;
 }
 .last .img1{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 1800px;
    left: 70px;
 }
 .last .img2{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 1650px;
    left: 460px;
 }
 .last .img3{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 1800px;
    left: 1100px;
 }
 .h1p{
    color: gray;
    position:absolute ;
    top: 2160px;
    left: 600px;
    font-size: 25px;
 }
 .h1p h1{
    color: gray;
   align-items: center;
 }
 .h1p p{
    position: absolute;
    left: 50px;
 }
 .end{
    width: 100%;
    height: 500px;
 }
 footer {
    position: relative;
    height: 80vh;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 700px;
    margin-top: 1600px;
    position: relative;
    overflow: hidden;
}
.imgfoot1{
    position: absolute;
    width: 120%;
    height: 140%;
    left: -3%;
    top: 0;
  
}
.imgfoot2 {
    position: absolute;
    width: 700px;
    right: 0%;
    bottom: 0%;
}

.foottext{
    width: 30%;
    height: 300px;
    position: relative;
}

.foota1{
    width: 250px;
    height: 50px;
position: absolute;
top: 500px;
left: 100px;
position: relative;
}

.imganda1{
    position: relative;
    display: flex;
    text-align: center;
}
.foottextimg1{ 
    position: absolute;
    top: 0px;
    width: 200px;
    height: 70px;
}
.imganda1 a{
    font-size: 15px;
    position: absolute;
    top: 510px;
    left: 150px;
}
.imganda1 img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 250px;
}
.foota2{
    width: 250px;
    height: 50px;
position: absolute;
top: 500px;
left: 1500px;
position: relative;
}

.imganda2{
    position: relative;
    display: flex;
    text-align: center;
}
.foottextimg2{ 
    position: absolute;
   right: 400px;
   margin-right: 250px;
    right: 650px;
    width: 200px;
    height: 70px;
}
.imganda2 a{
    position: absolute;
    top: 510px;
    left: 470px;
}
.imganda2 img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 256px;
}
.socialimgs{ 
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 600px;
    left: 100px;
}

.lasta{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 660px;
    left: 200px;
}
.lasta a{
    width: 30%;
   
    font-size: 18px;
    text-decoration: none;
}